*{
    margin: 0 0 0 0;
    padding:  0 0 0 0 ;

}

body{
    background: linear-gradient(45deg,purple,navy,red,orange,yellow) no-repeat cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-top: 18%;
}